/* Reset e estilo base */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container_c {
    display: flex;
    max-width: 1000px;
    margin: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}


.perfil {
    flex: 1;
    background-color: #cfadd9;
    color: #ecf0f1;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil h1 {
    font-size: 1em;
    margin: 0;
    color: #0a0a0a;
}

.perfil h2 {
    font-size: 1.2em;
    margin-top: 30px;
    border-bottom: 2px solid #cfadd9;
    padding-bottom: 5px;
    width: 100%;
    color: #0a0a0a;
}

.perfil p {
    font-weight: bold;
    margin-bottom: 20px;
}

.perfil ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.perfil li {
    margin-bottom: 10px;
    text-align: left;
    color: #0a0a0a;
}

.perfil a {
    color: #740160;
    text-decoration: none;
}
 .main-content{
    flex:2;
    padding: 40px 50px ;
 }

.main-content section{
    margin-bottom: 30px;
}

.main-content h2{
    font-size: 1.5em;
    color: #cfadd9
}

.item-experiencia,
.item-educacao {
    margin-bottom: 20px;
}

.item-experiencia h3 {
    margin: 0;
    font-size: 1.2em;
    color: #2980b9;
}

.periodo {
    font-style: italic;
    color: #7f8c8d;
    margin: 5px 0;
}

.item-experiencia ul {
    margin-top: 10px;
    padding-left: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .curriculo-container {
        flex-direction: column;
        /* Em telas menores, as colunas se empilham */
    }

    .perfil-info {
        padding: 30px 20px;
        border-bottom: 5px solid #2c3e50;
    }

    .perfil-info h1 {
        font-size: 1.5em;
    }

    .main-content {
        padding: 30px 20px;
    }
}